@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<div class="container">
    <div class="row">
        <div class="col-sm">
            <h1 class="display-2">The Learning Center</h1>
            <p class="lead">
                The place for technology classes
            </p>
        </div>
    </div>
</div>
