
@{
    ViewData["Title"] = "Logout";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<header>
    <h1>@ViewData["Title"]</h1>
    <div class="alert alert-success" role="alert">
        You have successfully logged out of the application
    </div>
</header>
